#seccion-carrusel{
    width: 100%; 
    
}

.w-100{
    width: 50% !important;
    height: 400px;
    z-index: 1;
}

.item-contenido{
    display: flex;
    flex-direction: row;
   justify-content: center;
}
.carousel-indicators [data-bs-target] {
    background-color: black !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color:rgba(0, 0, 0,0.3);
}