body{
    background-color: white !important;
    
}
.navbar-nav{
    align-items: flex-start;
}
.contenedorMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:5%;

}
.logotipo{
    display:flex;  
    width:40%;
    height:400px;
    align-items: center;
    padding-right: 20px;
    border-right: solid rgba(105, 207, 110,0.3);

    
}
.login{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 20px;
}

.mb-4{
    width: 100%;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 400px;
    height:400px;
    background: linear-gradient(to bottom right, rgba(105, 207, 110,0.7), rgba(213, 235, 193,1)) !important;
    padding:10px;
    backdrop-filter: blur(30px);
    border: solid 1px rgba(77, 231, 57, 0.26);
    border-radius: 5px;
}
.btn-primary{
    background:linear-gradient(to bottom right, rgba(88, 214, 94, 0.7), rgb(127, 235, 124)) !important;
    backdrop-filter: blur(10px);
    border: solid 1px rgba(77, 231, 57, 0.26);
    border-radius: 5px;
}
.btn-primary:hover{
    background:linear-gradient(to bottom right, rgba(100, 211, 105, 0.911), rgb(117, 214, 114)) !important;
    backdrop-filter: blur(10px);
    border: solid 1px rgba(75, 197, 59, 0.26);
    
}
.crear-cuenta{
    width: 100%;
    
}

